[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
flask = "3.0.3"
tensorflow = "2.16.1"
mediapipe = "0.10.14"
numpy = "1.24.3"
opencv = "4.9.0"
flask_restful = "0.3.10"
 
[requires]
python_version = "3.9"
